<div class="container">
  <h2>Vote</h2>
  <h3>{{ poll.title }}</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="custom-control custom-radio" *ngFor="let option of poll.options; let i = index">
      <input
      class="custom-control-input"
        [id]="'option-'+i"
        type="radio"
        [value]="option"
        [(ngModel)]="selectedOption"
        name="option"
      />
      <label  class="custom-control-label"  [for]="'option-'+i">{{ option.label }}</label></div>
    <button type="submit" class="btn btn-primary">Vote</button>
  </form>
</div>