<div class="container">
  <h2>Vote</h2>
  <h3 id="poll-title-voting">{{ poll.title }}</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="custom-control custom-radio" *ngFor="let option of poll.options; let i = index">
      <input
      class="custom-control-input"
        [id]="'poll-answer-'+i"
        type="radio"
        [value]="option"
        [(ngModel)]="selectedOption"
        name="option"
      />
      <label  [id]="'poll-answer-'+i+'-lbl'" class="custom-control-label"  [for]="'poll-answer-'+i">{{ option.label }}</label></div>
    <button id="vote-btn" type="submit" class="btn btn-primary">Vote</button>
  </form>
</div>