<div class="container">
  <div class="form-group">
    <label for="poll-title">Title of the poll:</label>
    <input
      id="poll-title"
      type="text"
      class="form-control"
      appLimitedLength
      [(ngModel)]="poll.title"
      placeholder="Poll title"
    />

  </div>
  <div class="form-group">
    Questions:
    <div *ngFor="let option of poll.options">
      <app-edit-option
        [option]="option"
        (optionRemoved)="onOptionRemoved($event)"
      ></app-edit-option>
    </div>
  </div>
  <app-add-option (optionCreated)="onOptionAdded($event)"></app-add-option>
  <div>
    {{ poll.options.length }}/{{ questionLimit }} possible answers
    <button class="btn btn-primary">Reset</button>
  </div>
</div>
